.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.loader {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px dashed teal;
  animation: rotate 2.5s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }

  to {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}