* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;

}

.App {
  width: 700px;
}

.post {
  display: flex;
  padding: 15px;
  border: 1px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post-enter {
  opacity: 0;
}

.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.page__wrapper {
  margin: 25px 0;
  display: flex;
}

.page {
  padding: 3px 8px;
  border: 1px solid teal;
  cursor: pointer;
  margin-right: 5px;
}

.page__current {
  background-color: teal;
  color: white;
}