.myBtn {
  display: block;
  padding: 5px 15px;
  color: white;
  font-style: 14px;
  background-color: #2B3B37;
  border: 1px solid #2B3B37;
  border-radius: 5px;
  height: 40px;
  min-width: 50px;
  margin: 0;
  cursor: pointer;
}