.comments__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comments__item {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #e4d4d4;
}

.comments__email {
  margin-bottom: 10px;
  font-size: 14px;
  color: gray
}

.comments__title {
  font-size: 22px;
  margin-bottom: 5px;
}

.comments__title:first-letter {
  text-transform: uppercase;
}

.comments__body:first-letter {
  text-transform: uppercase;
}
